<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Raymon Randomizer</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../static/setup.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  <body>

    <div class="container">
      <div>
          <p></p>
          <p></p>
      </div>

      <div class="jumbotron">
        <h2 align="center">Add Player</h2>
        <form class="form-signin" id="editplayer" method="post" role="form">
          <p align="center">
            {{ form.playername(placeholder="Name", size="10", maxlength="10", value=player['Name']) }}
            <br>
            {{ form.handicap(placeholder="36", size="2",maxlength="2", pattern="^[0-9]{1,2}", value=player['hc']) }} <strong>,</strong>
            {{ form.handicapdec(placeholder="0", size="1", pattern="[0-9]", maxlength="1", value=player['hcdec']) }}
            {{ form.csrf_token }}
          </p>
          <p align="center">
            <button id="btnSave" href="{{ url_for('updateplayer', uuid=player['uuid']) }}"  class="btn btn-info btn-lg" methods="post" >
              <span class="glyphicon glyphicon-save"></span> Save
            </button>
         </p>
        </form>
          <a href="{{ url_for('players') }} " class="btn btn-info btn-lg" methods="GET">
            <span class="glyphicon glyphicon-triangle-left"></span> Back
          </a>
      </div>

      <footer class="footer">
        <p>&copy; Raymon Tour Inc. 2015</p>
      </footer>

    </div>
  </body>