<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Raymon Randomizer</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../static/setup.css" rel="stylesheet">

    <script type="text/javascript" src="../static/js/disablekey.js"></script>


  </head>

  <body>

    <div class="container">
      <div>
          <p>{{Error}}</p>
          <p></p>
      </div>
    </div>
  </body>
</html>
